<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="styles/asset_details.css">
</head>
<body>
    <div class="container">
        <div class="header"></div>
        <div class="user-box"></div>
        <div class="company-name">Mursalin Asset Management</div>
        <div class="welcome-message">Welcome Farhan!</div>
        <img class="profile-pic" src="https://via.placeholder.com/78x69" />
        <img class="notification-icon" src="https://via.placeholder.com/49x52" />
        <div class="label asset-name">Asset Name</div>
        <div class="label description">Description</div>
        <div class="label barcode-id">barcode_id</div>
        <div class="value asset-name-value">Heavy-load Van</div>
        <div class="value barcode-id-value">378973984</div>
        <div class="value current-users-value">farhan2323, abid, nabid3983</div>
        <div class="value checkout-date-value">23/05/2024</div>
        <div class="description-text">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry...
        </div>
        <div class="label current-users">current_users</div>
        <div class="label checkout-date">checkout_date</div>
    </div>
</body>
</html>